/*
font-family: 'Libre Franklin', sans-serif;
font-family: 'Dosis', sans-serif;
*/
.background-wrapper {

}

.my-img-container {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
}

.my-img {
    width: 100%;
    border: 2px solid #000;
}

.top-banner {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 100px;
}

.title {
    text-align: center;
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    padding-top: 5px;
}

.info-balls {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 50px 0px 0px 50px;
}

.para {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 65px;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2.5px;
}
