
.btn-explore:hover {
    background-color: #f45d5d;
}

.profile-nav > .nav-item > a{
    font-size: 24px;
    color: #000;
}

.profile-nav > .nav-item > a:hover,
.profile-nav > .nav-item .active {
    background-color: #f45d5d;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
}