
/*
.btn-explore:hover {
    background-color: #f45d5d;
}
*/

.profile-nav > .nav-item > a{
    font-size: 24px;
    color: #000;
    width: 200px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.profile-nav > .nav-item > a:hover,
.profile-nav > .nav-item .active {
    background-color: #f45d5d;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    box-shadow: 1px 2px #ccc;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
}

#name {
    text-shadow: 1px 1px #ccc;
}

.img-box {
    height: 300px;
    background-color: #fc4345;
}

.abt-box {
    height: 500px;
    background-color: #56c767;
}

.work-box {
    background-color: #590fcd;
    height: 300px;
}

.contact-box {
    background-color: #c67534;
    height: 200px;
}
