
/*
.btn-explore:hover {
    background-color: #f45d5d;
}
*/

.profile-nav > .nav-item > a{
    font-size: 24px;
    color: #000;
    width: 200px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.profile-nav > .nav-item > a:hover,
.profile-nav > .nav-item .active {
    background-color: #f45d5d;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    box-shadow: 1px 2px #ccc;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
}

#name {
    text-shadow: 1px 1px #ccc;
}

.img-box {
    display: block;
    position: relative;
    align-content: center;
    text-align: center;
    margin: auto;
    position: relative;
}

.abt-box {
    background-color: #1d1a2a;
    padding: 50px;
    margin-top: -100px;
    z-index: -1;
    position: relative;
}

.work-box {
    background-color: #1d1a2a;
}

.contact-box {
    background-color: #1d1a2a;
    height: 200px;
}



.w-box {
}

.myimage {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px #313131 solid;
}

.work-thumbnail {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

.exp-card {
    background-color: #fff;
    padding: 0px;
    margin: 10px;
}
